<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/styles/shared.css">
    <title>Datanet</title>
</head>

<body>
    <header>

    </header>
    <section class="head">
        <div class="container py-sm-5 py-3">
            <div class="row d-flex flex-wrap">
                <div class="col text-white d-flex align-items-center justify-content-center">
                    <div>
                        <h1 class="display-4 mb-4">
                            CoreDataNet
                            <img class="logo" src="/images/logoB.png" alt="logoB" loading="lazy">
                        </h1>
                        <p class="pr-5 font-weight-light" style="font-size: 1.2rem;">
                            Выделенные серверы — отдельные физические машины, на 100% предоставленные в распоряжение
                            пользователя. Вам не придется тратить деньги на замену, обновление оборудования, мы возьмем
                            на
                            себя заботу о оперативной памяти, системах безопасности, прочих моментах. На нашем
                            выделенном
                            сервере можно разместить проект с максимальной посещаемостью.
                        </p>
                    </div>
                </div>
                <div class="col image-block">
                    <img src="/images/main.jpg" alt="..." loading="lazy">
                </div>
            </div>
        </div>
    </section>
    <section class="rent">
        <div class="jumbotron jumbotron-fluid mb-0">
            <div class="container">
                <h1 class="display-4 text-center">Приобретение серверов</h1>
                <p class="lead mb-5">Чтобы не платить за избыточные, не всегда необходимые «физические» мощности, можно
                    арендовать. При этом вы получите машину с эксклюзивными настройками и правами, работающую автономно,
                    обслуживающую только ваш аккаунт.</p>
                <div class="row pt-5">
                    <div class="col-12 d-flex justify-content-center">
                        <h2 class="d-inline-block font-weight-bold p-sm-3 text-muted text-center rounded">
                            Выгоды аренды выделенного сервера:
                        </h2>
                    </div>
                    <div class="features">
                        <div>
                            расширенный функционал и гибкие настройки — доступны серверы с разными ОС, типами баз
                            данных,
                            числом и классом поддерживаемых программ.
                        </div>
                        <div>
                            увеличенная производительность — машины обеспечат скорость работы, загрузки сайтов, ресурсы
                            не
                            придется «делить с соседями».
                        </div>
                        <div>
                            стабильность, бесперебойность работы даже при пиковых нагрузках — выделив не один, а два-три
                            сервера, вы обеспечите полную безопасность БД и защититесь от сбоев.
                        </div>
                        <div>
                            защита от несанкционированного доступа, утечки конфиденциальных данных, хакерских и
                            DDoS-атак.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="placement">
        <div class="jumbotron jumbotron-fluid mb-0">
            <div class="container" style="max-width: 900px;">
                <div class="bg-light py-2 px-3 mb-5 rounded shadow mx-auto">
                    <h1 class="display-4 text-center">Размещение оборудования</h1>
                    <p class="lead">Наш ЦОД предлагает своим клиентам наиболее выгодные и комфортные условия размещения
                        IT и
                        телекоммуникационного оборудования. Высокий уровень безопасности и новейшее техническое
                        оснащение
                        дата-Центра отвечает всем возможным запросам и требованиям наших клиентов.</p>
                </div>

                <div id="carouselExampleControls" class="carousel bordered slide mb-5 mx-auto" data-ride="carousel">
                    <div class="carousel-inner shadow rounded">
                        <div class="carousel-item">
                            <img class="d-block w-100" src="/images/dpc_in_dpc.jpg" alt="First slide">
                            <div class="carousel-caption d-none d-md-block bg-light text-dark rounded">
                                <h5>ЦОД в ЦОДе</h5>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img class="d-block w-100" src="/images/network_rent.jpg" alt="Second slide">
                            <div class="carousel-caption d-none d-md-block bg-light text-dark rounded">
                                <h5>Аренда стоек с подключением к сетям</h5>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img class="d-block w-100" src="/images/physic_protect.jpg" alt="Third slide"
                                loading="lazy">
                            <div class="carousel-caption d-none d-md-block bg-light text-dark rounded">
                                <h5>Индивидуальное ограждение</h5>
                            </div>
                        </div>
                        <div class="carousel-item active">
                            <img class="d-block w-100" src="/images/rent_servers.jpg" alt="Third slide">
                            <div class="carousel-caption d-none d-md-block bg-light text-dark rounded">
                                <h5>Аренда серверного зала</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid services" style="overflow-x: hidden;">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title"><span class="badge badge-info">ЦОД в ЦОДе</span></h4>
                    <hr>
                    <p class="card-text">
                        Выкуп серверного зала на фиксированное количество стоек, с гарантированной мощностью.
                    </p>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title"><span class="badge badge-info">Индивидуальное ограждение</span></h4>
                    <hr>
                    <p class="card-text">
                        Индивидуальное ограждение оборудования – это дополнительная услуга, которая может быть
                        предоставлена нашим клиентам. Данная услуга необходима в том случае, если проект клиента требует
                        повышенного уровня физической безопасности оборудования, но мощности не позволяют взять в аренду
                        серверный зал целиком.
                    </p>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title"><span class="badge badge-info">Аренда серверного зала</span></h4>
                    <hr>
                    <p class="card-text">
                        Гермозона – это машинный зал с IT-оборудованием. Доступ в гермозону ограничен. Зона оборудована
                        системами поддержания микроклимата, противопожарными средствами и системами безопасности.
                        Климатическое оборудование вынесено за пределы гермозоны, что позволяет производить текущее
                        обслуживание и ремонт без доступа в серверный зал. Каждая гермозона может быть адаптирована под
                        нужды арендатора.
                    </p>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title"><span class="badge badge-info">Аренда стоек с подключением к сетям</span></h4>
                    <hr>
                    <p class="card-text">
                    <ul class="list-unstyled ml-3">
                        <li>
                            <i class="fa fa-check" aria-hidden="true"></i>
                            Стандартные стойки EIA-310-D 42U или 48U (ширина: 600 или 700 мм,
                            глубина: 1070 или 1200 мм)
                        </li>
                        <li>
                            <i class="fa fa-check" aria-hidden="true"></i>
                            Система охлаждения стоек – современное климатическое оборудование
                            по международным стандартам обеспечения технической безопасности
                        </li>
                        <li>
                            <i class="fa fa-check" aria-hidden="true"></i>
                            Обеспечение сопутствующим оборудованием и аксессуарами, коммутация
                        </li>
                        <li>
                            <i class="fa fa-check" aria-hidden="true"></i>
                            Служба технической поддержки 24/7
                        </li>
                        <li>
                            <i class="fa fa-check" aria-hidden="true"></i>
                            Возможность объединить стойки с единую серверную зону и установить
                            ограждение.
                        </li>
                        <li>
                            <i class="fa fa-check" aria-hidden="true"></i>
                            Отчеты о выполнении SLA
                        </li>
                    </ul>
                    </p>
                </div>
            </div>
        </div>
    </section>
    <section class="features">
        <div class="jumbotron jumbotron-fluid">
            <div class="container-fluid">
                <h1 class="display-4 text-center">Преимущества</h1>
                <p class="lead text-center mb-5">При проектировании и строительстве ЦОДа применены самые современные
                    решения.
                </p>
                <div class="d-flex flex-wrap justify-content-center">
                    <div class="card">
                        <img class="card-img-top" src="/images/energy.jpg" alt="Card image cap" loading="lazy">
                        <div class="card-body">
                            <h5 class="card-title">Энергоснабжение</h5>
                            <p class="card-text">
                                Для непрерывной работы систем бесперебойное электропитание обеспечено двумя независимыми
                                вводами мощностью 1,2 МВт каждый.
                                <br>
                                Кроме того, при возможном возникновении форс-мажорных ситуаций планируется использование
                                двух дизельных генераторов, с помощью которых дата-центр продолжит работу в автономном
                                режиме до 24 часов.
                            </p>
                        </div>
                    </div>
                    <div class="card">
                        <img class="card-img-top" src="/images/climate.jpg" alt="Card image cap" loading="lazy">
                        <div class="card-body">
                            <h5 class="card-title">Оптимальный климат-контроль</h5>
                            <p class="card-text">
                                В дата-центре применяется многоступенчатая система охлаждения, холодильные машины
                                зарезервированы по схеме 2N+1. Кроме того, в холодное время года будет использоваться
                                фрикулинг - система, предусматривающая режим естественного охлаждения, когда жидкость
                                охлаждается в специальном теплообменнике, где в качестве источника охлаждения
                                используется
                                наружный воздух.
                            </p>
                        </div>
                    </div>
                    <div class="card">
                        <img class="card-img-top" src="/images/firefight.jpg" alt="Card image cap" loading="lazy">
                        <div class="card-body">
                            <h5 class="card-title">Автоматическая система пожаротушения</h5>
                            <p class="card-text">
                                На объекте работают 2 вида систем газового пожаротушения: центральная и локальная по
                                серверным помещениям. Схема резервирования системы пожаротушения – 2N. Все здание
                                дата-центра оборудовано автоматическими установками пожарной сигнализации, системой
                                противодымовой вентиляции, системой раннего обнаружения и оповещения о возгорании.
                                Дата-центр оснащен системой управления эвакуацией и автоматического газового
                                пожаротушения.
                            </p>
                        </div>
                    </div>
                    <div class="card">
                        <img class="card-img-top" src="/images/secure.jpg" alt="Card image cap" loading="lazy">
                        <div class="card-body">
                            <h5 class="card-title">Круглосуточное видеонаблюдение и охрана</h5>
                            <p class="card-text">
                                Доступ в помещения дата-центра и открытие серверных шкафов контролируется
                                автоматизированной
                                системой контроля и управления доступом (СКУД) на основе биометрических параметров.
                                Возможность несанкционированного доступа исключена! Системами оснащены все помещения с
                                оборудованием, коридоры, служебные помещения, входы в здание. При необходимости каждый
                                серверный шкаф может быть оснащен дополнительными ограждениями, камерами и системой
                                контроля
                                доступа.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="contact" style="background: url(/images/map.png); background-position: center;">
        <div class="container-fluid py-5">
            <div class="card mx-auto border-white" style="max-width: 30rem;">
                <div class="card-body shadow">
                    <h4 class="card-title">Контакты</h4>
                    <hr>
                    <p class="card-text">
                        Центр обработки данных CoreДataNet расположен в шаговой доступности от Аэропорта местных линий,
                        в Кировском административном округе г. Омска по адресу: 644103, улица Игоря Москаленко, 137/2.
                    </p>
                    <p class="card-text">
                        Адрес для почтовой корреспонденции: 644103, улица Игоря Москаленко, 137/1.
                    </p>
                    <p class="card-text">
                        К нам удобно добираться как общественным транспортом (автобусы № 17, 21; маршрутные такси 414,
                        19, 344, 413, 394), так и на автомобиле.
                    </p>
                    <a href="#" class="card-link">
                        <i class="fa fa-mobile" aria-hidden="true"></i>
                        +7(3812) 405222
                    </a>
                    <a href="#" class="card-link">
                        <i class="fa fa-envelope" aria-hidden="true"></i>
                        info@coredatanet.ru
                    </a>
                </div>
            </div>
        </div>
    </section>
    <footer class="bg-dark text-center text-lg-start">
        <div class="text-center p-3 text-muted">
            © 2021 Copyright:
            <a class="text-white" href="#">CoreDataNet</a>
        </div>
    </footer>
    <script src="/js/shared.bundle.js"></script>


</body>

</html>